@import "../../index.scss";
.footer {
  background-color: $bg-footer;
  padding: 80px 0;
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 40px;
  }
  &-logo {
    span {
      color: $primary-color;
      font-size: 45px;
      font-weight: 700;
      display: inline-block;
      margin-bottom: 20px;
    }
    &--desc {
      line-height: 1.6;
      color: $text-color--tx;
      margin-bottom: 20px;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    gap: 0 15px;
    color: #fff;
    cursor: pointer;
    &--icon {
      width: 40px;
      height: 40px;
      border-radius: 100rem;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s linear;
    }
    &--icon:nth-child(1) {
      background-color: #3b5998;
      border-color: #3b5998;
      &:hover {
        color: #3b5998;
        background-color: transparent;
      }
    }
    &--icon:nth-child(2) {
      background-color: #1da1f2;
      border-color: #1da1f2;
      &:hover {
        color: #1da1f2;
        background-color: transparent;
      }
    }
    &--icon:nth-child(3) {
      background-color: #c13584;
      border-color: #c13584;
      &:hover {
        color: #c13584;
        background-color: transparent;
      }
    }
    &--icon:nth-child(4) {
      background-color: #007bb5;
      border-color: #007bb5;
      &:hover {
        color: #007bb5;
        background-color: transparent;
      }
    }
  }
  &-title {
    margin-bottom: 25px;
    color: $text-color--tx;
    font-size: 20px;
  }
  &-item--instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
  }
  &-images--ig {
    height: 65px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  &-images--icon {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, #f35320);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-link {
    display: inline-block;
    padding-bottom: 20px;
    color: $text-color--tx;
  }
  &-info {
    &--item {
      display: flex;
      align-items: center;
      gap: 0 20px;
      margin-bottom: 30px;
    }
    &--icon {
      color: $primary-color;
      font-size: 25px;
    }
    &--name {
      margin-bottom: 10px;
      color: $text-color--tx;
    }
  }
}
