@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

$font-family: "Poppins", sans-serif;
$text-color: #6b6b84;
$text-color--tx: #111111;
$primary-color: #f35320;
$secondary-color: #f99459;

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1;
  color: $text-color;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 767.98px) {
    padding: 10px;
  }
}

.button {
  font-family: $font-family;
  cursor: pointer;
  padding: 16px 40px;
  display: inline-block;
  border-radius: 100rem;
  color: #fff;
  &--primary {
    background-color: $primary-color;
  }
  &--secondary {
    background-color: $secondary-color;
  }
}

// center
.page-center {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
  max-width: 600px;
}

//
.page-heading {
  font-size: 40px;
  color: $text-color--tx;
  font-weight: 700;
  margin-bottom: 15px;
}

.page-desc {
  max-width: 700px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
  color: $text-color;
}

// slider swiper custom
// .product-list .swiper-slide {
//   width: 300px !important;
//   height: auto;
// }
