.subscribe {
  margin-bottom: 100px;
  &-container {
    min-height: 250px;
    display: flex;
    align-items: center;
    gap: 0 100px;
  }
  &-content {
    width: 60%;
    .page-center {
      max-width: 700px;
      text-align: left;
    }
    .page-desc {
      text-align: left;
    }
  }
  &-email {
    width: 60%;
  }
}
