@import "../../index.scss";
.header {
  &-contact {
    border-bottom: 1px solid #eee;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    gap: 0 25px;
    &--add {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
    &--gmail {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
    &--icon {
      color: $primary-color;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    gap: 0 30px;
    span {
      border: 1px solid $text-color;
      width: 30px;
      height: 30px;
      border-radius: 100rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
