@import "../../index.scss";
.header {
  &-contact {
    border-bottom: 1px solid #eee;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    gap: 0 25px;
    &--add {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
    &--gmail {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
    &--icon {
      color: $primary-color;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    gap: 0 15px;
    span {
      border: 1px solid #f3f3f3;
      width: 35px;
      height: 35px;
      border-radius: 100rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s linear;
      &:hover {
        background-color: $primary-color;
        color: #fff;
        transform: translateY(-5px);
        cursor: pointer;
      }
    }
  }
  &-nav {
    padding: 15px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    gap: 0 30px;
    &--list {
      display: flex;
      align-items: center;
      gap: 0 30px;
    }
    &--link {
      color: $text-color;
    }
    &-cart {
      position: relative;
    }
  }
}
