@import "../../../index.scss";
.cart {
  &-banner {
    min-height: 400px;
    position: relative;
    z-index: 0;
  }
  &-main {
    padding: 40px 0;
  }
  &-table {
    border-collapse: collapse;
    width: 100%;
  }
  &-table td,
  &-table th {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  &-table th {
    padding: 15px;
    text-align: center;
    background-color: $primary-color;
    color: white;
  }
  &-images {
    width: 150px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-item {
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color;
    text-align: center;
  }
  &-total {
    max-width: 150px;
    width: 100%;
    padding: 10px 12px;
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
    gap: 0 10px;
    background-color: #f35320;
    color: #fff;
  }
  &-remove {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
