.banner-crops {
  min-height: 100vh;
  padding-top: 100px;
  &--content {
    max-width: 800px;
    background-color: #fff;
    padding: 50px;
    margin-left: auto;
  }
  &--desc {
    text-align: left;
  }
}
