@import "../../index.scss";
.banner {
  min-height: 100vh;
  padding: 0 0 40px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  &-content {
    position: absolute;
    top: 30%;
    left: 10%;
  }
  &-heading {
    color: $primary-color;
    margin-bottom: 15px;
    font-size: 20px;
  }
  &-title {
    max-width: 500px;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 70px;
  }
}
