@import "../../index.scss";
.banner-crops {
  min-height: 100vh;
  padding-top: 100px;
  &--content {
    max-width: 800px;
    background-color: #fff;
    padding: 50px;
    margin-left: auto;
  }
  &--txt {
    color: $primary-color;
    margin-bottom: 20px;
    font-size: 20px;
    display: inline-block;
  }
  &--heading .page-center {
    text-align: left;
    position: relative;
    left: 0%;
    transform: translateX(-50%);
  }
}
