.details {
  &-banner {
    min-height: 400px;
    position: relative;
    z-index: 0;
  }
  &-list {
    margin: 40px 0;
    .productD--images {
      height: 450px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
