@import "../../../index.scss";
.info {
  padding: 20px 0 40px;
  &-tab {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 10px;
    &--title {
      border: 1px solid $border-color;
      padding: 15px 30px;
    }
  }
  &-content {
    max-width: 800px;
    border: 1px solid $border-color;
  }
}
