@import "../../../index.scss";
.info {
  padding: 20px 0 40px;
  &-tab {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 10px;
    cursor: pointer;
    &--title {
      border: 1px solid $border-color;
      padding: 15px 30px;
    }
  }
  &-content {
    max-width: 800px;
    padding: 20px;
    border: 1px solid $border-color;
    &--desc {
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease;
    }
    &--review {
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s ease;
    }
  }
  &-customer {
    &__heading {
      font-size: 23px;
      font-weight: 700;
      color: $text-color--tx;
      margin-bottom: 20px;
    }
  }
}

.active-tabs {
  background-color: $primary-color;
  color: #fff;
  transition: all 0.25s linear;
}

.active-content {
  opacity: 1;
  visibility: visible;
}
