.discount {
  min-height: 100vh;
  position: relative;
  padding: 150px 0;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--left {
      width: 60%;
    }
    &--heading {
      color: #fff;
      font-size: 40px;
    }
    &--right {
      width: 40%;
    }
  }
}
