.productOrg {
  padding-bottom: 40px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 40px;
  }
  &-item {
    position: relative;
  }
  &-name {
    position: absolute;
  }
}
