@import "../../index.scss";

.contact {
  &-banner {
    min-height: 400px;
    position: relative;
  }
  &-list {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 40px;
  }
  &-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px 0;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    &--icon {
      background-color: $bgr-color;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;
      font-size: 30px;
      border-radius: 100rem;
    }
    &--title {
      font-size: 22px;
      font-weight: 600;
    }
  }
}
