@import "../../index.scss";
.count {
  display: flex;
  align-items: center;
  background-color: $bgr-color;
  padding: 10px;
  &-value {
    width: 100px;
    text-align: center;
    background: inherit;
    &::placeholder {
      font-size: 18px;
    }
  }
}
