@import "../../index.scss";
.accordion {
  max-width: 500px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primary-color;
    padding: 10px;
  }
  &-content {
    border: 1px solid $primary-color;
    margin-top: 15px;
    padding: 5px 10px;
    line-height: 1.5;
  }
}
